.form-input-container {
    display: flex;
    margin-bottom: 3rem;
}

.form h3 {
    margin-bottom: 1rem;
}

.form input {
    padding: .5rem;
    border: none;
}

.form button {
    border: none;
    background-color: #8dd0f5;
    color: #fff;
    cursor: pointer;
    padding: .5rem;
}

@media only screen and (min-width: 768px) {
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .form-input-container {
        width: 80%;
    }

    .form input {
        width: 100%;
    }

}