* {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(180deg, rgba(89, 76, 238, 1) 0%, #8dd0f5 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none !important;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    background-color: #294374;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #fdfdfd;
    border-radius: 5%;
}

@media only screen and (min-width: 768px) {
    .container {
        width: 40%;
    }
}