.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 150px;
    height: 100px;
    bottom: 5%;
    left: 1%;

}

#ghost {
    cursor: pointer;
    width: 70px;
    animation: animation-name 3s linear infinite;
}

#shadow-ghost {
    border-radius: 50%;
    display: flex;
    width: 50%;
    height: 10%;
    background-color: grey;
    animation: box-animation 3s linear infinite;
}

#messagem-ola-ghost {
    opacity: 0;
    position: absolute;
    top: -4.5rem;
    right: -1rem;

    animation: animation-name 3s linear infinite;
}

.bubble {
    transition: .5s;
    background-color: black;
    padding: 20px;
    width: 90px;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
}


.bubble::after {
    content: '';
    position: absolute;
    bottom: -50px;
    left: 10px;
    width: 0px;
    height: 0px;
    border-top: 22px solid black;
    border-right: 30px solid transparent;
    border-bottom: 30px solid transparent;

}


@keyframes animation-name {
    0% {
        transform: translateY(0);

    }

    50% {
        transform: translateY(-90%);

    }

    100% {
        transform: translateY(0);

    }
}


@keyframes box-animation {
    0% {
        transform: scale(1);

    }

    50% {
        transform: scale(0.5);

    }

    100% {
        transform: scale(1);

    }
}