.acordeon.open .content.idiomas {
    padding: 0;
}

.languages {
    font-size: .75rem;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: .5rem
}

.languages li {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
}

.languages li::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/assets/img/icons/check.svg);
    margin-right: .5rem
}

@media only screen and (min-width: 768px) {
    .languages {
        font-size: 1rem;
        margin-left: 4rem
    }
}