body {
    background: rgb(255, 255, 255);
}

.main {
    background-color: rgb(29, 29, 29);
}

.acordeon.open,
.acordeon:hover {
    background-color: rgb(220, 221, 221);
    border-color: rgb(29, 29, 29);
    color: rgb(29, 29, 29);
}


.acordeon .trigger {
    color: #fff;
}

.acordeon.open .trigger {
    color: rgb(0, 0, 0);
}

.name-site {
    color: rgb(0, 0, 0);
}


.item-grade {

    border-top: 1px solid rgb(0, 0, 0);

}

.title-project {
    color: rgb(29, 29, 29)
}

#selectedOption {
    color: black;
}