.themeDiv {
    position: absolute;
    width: auto;
    height: auto;
    display: none;
    flex-direction: column;
    width: min-content;
    top: 2rem;
    left: 1rem;
    padding: 1rem;
    background-color: #5552528c;
    border: 2px solid white;
    border-radius: 5%;
    z-index: 99;
}


.themeDiv input {
    margin: .3rem;
    width: 25px;
    height: 25px;
}

input::before {
    border-radius: 10%;
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    display: flex;

}

input:hover::before {
    scale: 1.1;
}





#themeWite:before {
    background-color: rgb(255, 255, 255);
    border: 1px solid transparent;
}


#themeBlack:before {
    background-color: rgb(5, 5, 5);
    border: 1px solid wheat;

}

#themeDefault:before {
    background-color: #55569e;
    border: 1px solid black;

}

#themeWite:checked::before {
    border: 2px solid greenyellow;

}

#themeBlack:checked::before {
    border: 2px solid greenyellow;

}

#themeDefault:checked::before {
    border: 2px solid greenyellow;

}

form div label {
    user-select: none;
    color: transparent;
    position: absolute;
}

@media only screen and (min-width: 768px) {
    .themeDiv {
        z-index: 99;
        top: 1.5rem;
        left: 1rem;
        background-color: #ffffff52;
        flex-direction: row;
    }



}