body {
    background: #55569e;

    background: linear-gradient(to right, #55569e5b, #55569e);


}

.main {
    background: #434343;

}


.acordeon.open,
.acordeon:hover {
    background-color: #55569ed8;
    border-color: #55569E;
}

.acordeon .trigger {
    color: #fff;
}

.item-grade {
    border-top: 1px solid wheat;


}