body {
    background: #55569e;

    background: linear-gradient(to right, #55569e5b, #55569e);


}

.main {
    background: #434343;

}


.acordeon.open,
.acordeon:hover {
    background: linear-gradient(to right, rgb(175, 176, 210), rgb(105, 106, 169));
    border-color: rgb(105, 106, 169);
}

.acordeon .trigger {
    color: #fff;
}

.item-grade {
    border-top: 1px solid wheat;


}