#selector {
    position: relative;
     cursor: pointer;
     z-index: 4;
}

#selectedOption {
    background-color: transparent;
    border: transparent;
    z-index: 5;
    width: 7rem;
    height: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#selectedOption img {
    width: 15px;
    margin: .3rem;
}

#optionsList {
    width: 150px;
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    max-height: 150px;
    overflow-y: scroll;
    background-color: #434343;
    border: 2px solid gray;
    border-radius: 4%;
    color: white;
}

#optionsList img {
    width: 15px;
}

li {
    padding: 10px;

}


#optionsList::-webkit-scrollbar {
    width: .1rem;

}

#optionsList::-webkit-scrollbar,
#optionsList::-webkit-scrollbar-thumb,
#optionsList::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
}